*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  padding: 20px;
  width: 100%;
   
}

lable {
  font-weight: bold;
}

.password-display {
  background-color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 2rem;
  word-break: break-all;
  align-items: center;
  
}
.character-amount-container {
  display: flex;
  align-items: center;

}
.number-input {
  width: 3.5rem;
}



.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
}



.btn {
  grid-column: span 2;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  display: flex;
  
  justify-content: center;
  
}

.btn:hover {
  background-color: rgb(168, 165, 165);
}














@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
